
.black{
    height: 100px;
    width: 100px;
    background-color: black;
    border-style: dotted;
    border-color: black;
    border-width: 2px;

}
.white{
    height: 100px;
    width: 100px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;

}
.row{
    display: flex;
}